html,
body {
	height: 100%;
}
body {
	font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
.content {
	margin: 0 auto;
	width: 500px;
}
a,
a:active,
a:focus,
a:hover,
a:visited {
	color: #444;
	text-decoration: none;
}
a:hover {
	color: black;
}
#navbar {
	background-color: #ffe90e;
	width: 100%;
}
#footer {
	background: white;
	bottom: 0;
	height: 50px;
	padding: 10px;
	position: absolute;
	width: 100%;
}
#footer ul {
	list-style-type: none;
	padding: 0;
}
#footer li {
	display: inline;
	margin: 0 10px;
}